@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span><img id="carrinho-compra" src="~/images/carrinho-icon.jpg" /></span>
    </a>
    <p id="count">@Model.CarrinhoCompra.CarrinhoCompraItems.Count</p>
}