@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
<<<<<<< HEAD
        <span><img src="~/images/carrinho-icon.jpg" /></span>
        <span style="color:white">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
=======
        <span><img id="carrinho-compra" src="~/images/carrinho-icon.jpg" /></span>
>>>>>>> b909617ef2b76d907345afd7746dbfdc770c9041
    </a>
    <p id="count">@Model.CarrinhoCompra.CarrinhoCompraItems.Count</p>
}