@model ContatoModel

@{
    ViewData["Title"] = "Contato";
}

<div class="text-center fadeIn">
    <br/><br/>
    <h1 class="display-4">Dúvidas? Fale conosco!</h1>
    <br/>
    <form method="post"> 
        <fieldset id="form-contato">
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
                <input asp-for="EmailParaContato" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite um email para que possamos entrar em contato!">
            </div>
            <div class="form-group">
                <label for="exampleTextarea" class="form-label mt-4">Mensagem</label>
                <input asp-for="Mensagem" textarea class="form-control" id="exampleTextarea" rows="2">
            </div>
            <br/><br/>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </fieldset>
    </form>
</div>
<img id="logo-footer" class="fadeIn" src="~/images/logo-black.png" alt="">