@{
    ViewData["Title"] = "Contato";
}

<div class="text-center fadeIn">
    <br/><br/>
    <h1 class="display-4">Dúvidas? Fale conosco!</h1>
    <br/>
    <form>
        <fieldset id="form-contato">
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite um email para que possamos entrar em contato!">
            </div>
            <div class="form-group">
                <label for="exampleTextarea" class="form-label mt-4">Mensagem</label>
                <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label for="formFile" class="form-label mt-4">Anexo</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <br/><br/>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </fieldset>
    </form>



</div>