<div class="container">
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer!</h3>
        <p>Se você tem alguma dúvida, fale conosco.</p>

        <p>
            <i class="bi bi-envelope-at-fill"></i>
            <h5><email endereco="priscylla@yahoo.com" conteudo="Enviar um e-mail"></email></h5>
            <br/>
            <span>
                <i class="bi bi-telephone-forward"></i>
            </span>
            <h5>(11) 9999-999</h5>
            <br/>
        </p>
    </div>
</div>