@model LoginViewModel

<body id="body-login">
    <div id="welcome" class="fadeIn">
        <img src="~/images/burguer.png" alt="">
    </div>

    <div id="login" class="fadeIn">
        <img src="~/images/user.png" alt="">
        <form asp-controller="Account" asp-action="Login" method="post">
            <div><input asp-for="UserName" type="text" placeholder="Digite seu login" id="email"></div>
            <div><input asp-for="Password" type="password" placeholder="Digite sua senha" id="senha"></div>
            <div><input type="submit" id="submit" value="Entrar"></div>
        </form>
    </div>

    <img id="logo-footer" class="fadeIn" src="~/images/logo-black.png" alt="">
</body>