@model LoginViewModel

@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center fadeIn">
    <br /><br />
    <h1 class="display-4">Cadastro</h1>
    <br />

    <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
        <div class="card-header"></div>
        <div class="card-body">
            <p class="card-text">
                <form asp-controller="Usuario" asp-action="Criar" method="post" class="row g-3">
                    <div class="col-6">
                        <label for="inputLogin" class="form-label">Login</label>
                        <input type="text" asp-for="UserName" class="form-control" id="inputLogin">
                        @Html.ValidationMessageFor(x => x.UserName)
                    </div>
                    <div class="col-6">
                        <label for="inputNome" class="form-label">Nome</label>
                        <input type="text" asp-for="UserName" class="form-control" id="inputNome">
                        @Html.ValidationMessageFor(x => x.UserName)
                    </div>
                    <!--<div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" asp-for="Email" class="form-control" id="inputEmail4">
                        
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Senha</label>
                        <input type="password" asp-for="Senha" class="form-control" id="inputPassword4">
                        
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Endereço</label>
                        <input type="text" asp-for="Endereco" class="form-control" id="inputAddress">
                        
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">Cidade</label>
                        <input type="text" asp-for="Cidade" class="form-control" id="inputCity">
                        
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Estado</label>
                        <select id="inputState" class="form-select">
                            <option selected>Escolha...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputNumber" class="form-label">Número de contato</label>
                        <input type="text" asp-for="Numero" class="form-control" id="inputNumber">
                        
                    </div>-->

                    <br /><br /><br /><br/>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </p>
            <br />
        </div>
    </div>

</div>