<br />

<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Essa é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="Admin" asp-controller="Admin" asp-action="Index">Voltar a Home Page</a>
</div>