<div class="text-center fadeIn">
        <br><br>
        <h1 class="display-4 text-white">Política de Privacidade</h1>
        <br>

        <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
            <div class="card-body" id="main-privacy">
                <h4 class="card-title">Atenção!</h4>
                <p class="card-text">
                    <p>
                        Para mantermos suas informações pessoais seguras, usamos ferramentas físicas, eletrônicas e gerenciais orientadas para a proteção da sua privacidade.
                        Aplicamos essas ferramentas levando em consideração a natureza dos dados pessoais coletados, o contexto e a finalidade do tratamento e os riscos que eventuais violações gerariam para os direitos e liberdades do titular dos dados coletados e tratados.
                        Entre as medidas que adotamos, destacamos as seguintes:<br/><br/>
                    </p>

                    <ul>
                        <li>Apenas pessoas autorizadas têm acesso a seus dados pessoais;</li>
                        <li>O acesso a seus dados pessoais é feito somente após o compromisso de confidencialidade;</li>
                        <li>Seus dados pessoais são armazenados em ambiente seguro e idôneo;</li>
                        <li>A Visando Livros se compromete a adotar as melhores posturas para evitar incidentes de segurança.</li>
                    </ul>
                <br/><br/>
                    Qualquer dúvida, por favor, <a asp-controller="Contato" asp-action="Index">entrar em contato!</a>
                </p>
                <br>
            </div>
        </div>
   </div>
<img id="logo-footer" class="fadeIn" src="~/images/logo-black.png" alt="">